---
- name: Reload hyprland
  ansible.builtin.command: hyprctl reload
  changed_when: true

- name: reload udev rules
  ansible.builtin.shell: udevadm control --reload-rules && udevadm trigger
  become: true
  changed_when: true

- name: restart xdg-desktop-portal
  ansible.builtin.systemd:
    name: "{{ item }}"
    state: restarted
    scope: user
  loop:
    - xdg-desktop-portal.service
    - xdg-desktop-portal-gtk.service

- name: restart wireplumber
  ansible.builtin.systemd:
    name: wireplumber.service
    state: restarted
    scope: user
