# keyd app-specific bindings (via keyd-application-mapper)

[chromium]
meta.s = C-s
meta.f = C-f
meta+shift.s = M-S-s
meta+shift.f = M-S-f
meta+shift.w = M-S-w
meta+shift.t = M-S-t
meta+shift.r = M-S-r
meta+shift.q = M-S-q
{% for shortcut in keyd_browser_shortcuts %}
meta.{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}

[chrome-*]
meta.s = C-s
meta.f = C-f
meta+shift.s = M-S-s
meta+shift.f = M-S-f
meta+shift.w = M-S-w
meta+shift.t = M-S-t
meta+shift.r = M-S-r
meta+shift.q = M-S-q
{% for shortcut in keyd_browser_shortcuts %}
meta.{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}

[chrome-outlook*]
meta.w = meta.w

[chrome-teams*]
meta.w = meta.w

[code]
meta.q = C-q
meta.p = C-p
meta.s = C-s
meta.v = C-v
meta.w = C-w
meta.f = C-f
meta.S-p = C-S-p
meta.t = C-t
meta.r = C-r
# meta.[ = C-[  # Let Hyprland handle Super+[ for workspace navigation
# meta.] = C-]  # Let Hyprland handle Super+] for workspace navigation
meta.A-k = C-k
meta.C-k = C-k
meta.C-d = C-d
meta.A-l = C-A-l
# meta.b = C-b  # Commented - conflicts with Hyprland browser shortcuts
# meta.S-b = meta.S-b  # Commented - let Hyprland handle Super+Shift+B
meta.e = C-e
meta.A-e = C-A-e
meta.A-x = C-A-x
# meta.A-b = C-A-b  # Commented - conflicts with Hyprland browser shortcuts
meta.A-n = C-A-n
meta.A-m = C-A-m
meta.A-[ = C-A-[
meta.A-] = C-A-]

[positron]
meta.q = C-q
meta.p = C-p
meta.s = C-s
meta.v = C-v
meta.w = C-w
meta.f = C-f
meta.S-p = C-S-p
meta.t = C-t
meta.r = C-r
# meta.[ = C-[  # Let Hyprland handle Super+[ for workspace navigation
# meta.] = C-]  # Let Hyprland handle Super+] for workspace navigation
meta.A-k = C-k
meta.C-k = C-k
meta.C-d = C-d
meta.A-l = C-A-l
# meta.b = C-b  # Commented - conflicts with Hyprland browser shortcuts
# meta.S-b = meta.S-b  # Commented - let Hyprland handle Super+Shift+B
meta.e = C-e
meta.A-e = C-A-e
meta.A-x = C-A-x
# meta.A-b = C-A-b  # Commented - conflicts with Hyprland browser shortcuts
meta.A-n = C-A-n
meta.A-m = C-A-m
meta.A-[ = C-A-[
meta.A-] = C-A-]

[sublime_text]
meta.s = C-s
meta.q = C-q
meta.w = C-w
meta.p = C-p
meta.S-p = C-S-p
meta.f = C-f
meta.g = C-g
meta.d = C-d
# meta.[ = C-[  # Let Hyprland handle Super+[ for workspace navigation
# meta.] = C-]  # Let Hyprland handle Super+] for workspace navigation
meta./ = C-/
meta.z = C-z
meta.S-z = C-S-z
meta.x = C-x
meta.c = C-c
meta.v = C-v
meta.a = C-a

[obsidian]
meta.s = C-s
meta.w = C-w
meta.q = C-q

[libreoffice-writer]
meta.s = C-s

[libreoffice-calc]
meta.s = C-s

[libreoffice-impress]
meta.s = C-s

[libreoffice-draw]
meta.s = C-s

[libreoffice-base]
meta.s = C-s

[libreoffice-math]
meta.s = C-s
