[ids]
# Logitech USB Receiver (laptop external keyboard)
046d:c548
# Logitech MX Keys S (Bluetooth)
046d:b378

[main]
# Swap Alt and Super (Meta) to match Framework keyboard
leftalt = leftmeta
leftmeta = leftalt
rightalt = rightmeta
rightmeta = rightalt

[meta]
# System-wide shortcuts
{% for shortcut in keyd_system_shortcuts.meta %}
{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}

{% if keyd_system_shortcuts.meta_shift | length > 0 %}
[meta+shift]
{% for shortcut in keyd_system_shortcuts.meta_shift %}
{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}
{% endif %}

[meta+alt]
{% for shortcut in keyd_system_shortcuts.meta_alt %}
{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}
