[ids]
# Logitech MX Keys S (Bluetooth)
046d:b378

[main]
# Swap Alt and Super - try opposite direction from before
leftmeta = leftalt
leftalt = leftmeta
rightmeta = rightalt
rightalt = rightmeta

[meta]
# System-wide shortcuts
{% for shortcut in keyd_system_shortcuts.meta %}
{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}

{% if keyd_system_shortcuts.meta_shift | length > 0 %}
[meta+shift]
{% for shortcut in keyd_system_shortcuts.meta_shift %}
{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}
{% endif %}

[meta+alt]
{% for shortcut in keyd_system_shortcuts.meta_alt %}
{{ shortcut.key }} = {{ shortcut.action }}
{% endfor %}
