[Unit]
Description=Hyprland Monitor Watcher
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.bin/monitor-watcher
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target
