[Unit]
Description=Mount OneDrive via rclone
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStartPre=/usr/bin/mkdir -p %h/Work/OneDrive
ExecStart=/usr/bin/rclone mount onedrive-jhu: %h/Work/OneDrive --vfs-cache-mode writes
ExecStop=/usr/bin/fusermount -u %h/Work/OneDrive
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
