---
- name: Restart dnsmasq
  become: true
  ansible.builtin.systemd:
    name: dnsmasq
    state: restarted
    daemon_reload: true

- name: Restart systemd-resolved
  become: true
  ansible.builtin.systemd:
    name: systemd-resolved
    state: restarted
