@define-color bg #160D16;
@define-color fg #fef9f3;
@define-color gray1 #83bc7b;
@define-color gray2 #4d3c4d;
@define-color gray3 #a7aaaf;
@define-color gray4 #f7f24f;
@define-color gray5 #e382d2;
@define-color fg_bright #fef9f3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}