---
# wifi-reset is now a manual command in ~/bin/wifi-reset
# This role just cleans up the old boot service.

- name: Stop wifi-reset service
  ansible.builtin.systemd:
    name: wifi-reset.service
    state: stopped
    enabled: false
    daemon_reload: true
  become: true
  ignore_errors: true

- name: Remove wifi-reset service
  ansible.builtin.file:
    path: /etc/systemd/system/wifi-reset.service
    state: absent
  become: true

- name: Remove old wifi-reset script from /usr/local/bin
  ansible.builtin.file:
    path: /usr/local/bin/wifi-reset
    state: absent
  become: true
