---
# Create new project management setup
# Called with: ansible-playbook playbook.yml --tags new-project -e "project_name=foo project_alias=f project_type=utility project_path=~/Projects/foo"

- name: Validate project type
  ansible.builtin.fail:
    msg: "Invalid project_type '{{ project_type }}'. Valid types: utility, laravel, python, rstats"
  when: project_type not in ['utility', 'laravel', 'python', 'rstats']

# Clone from GitHub if requested
- name: Clone project from GitHub
  ansible.builtin.git:
    repo: "git@github.com:{{ github_repo }}.git"
    dest: "{{ project_path }}"
    accept_hostkey: true
  when: github_repo is defined and github_repo | length > 0

# Create empty project directory if requested
- name: Create empty project directory
  ansible.builtin.file:
    path: "{{ create_project_dir }}"
    state: directory
    mode: '0755'
  when: create_project_dir is defined and create_project_dir | length > 0

- name: Create projects directory in repo
  ansible.builtin.file:
    path: "{{ omarchy_repo }}/projects/{{ project_name }}"
    state: directory
    mode: '0755'

- name: Generate tmux.sh from template
  ansible.builtin.template:
    src: "tmux-{{ project_type }}.sh.j2"
    dest: "{{ omarchy_repo }}/projects/{{ project_name }}/tmux.sh"
    mode: '0755'

- name: Generate launch script from template
  ansible.builtin.template:
    src: "launch.j2"
    dest: "{{ omarchy_repo }}/projects/{{ project_name }}/launch"
    mode: '0755'

- name: Generate kill script from template
  ansible.builtin.template:
    src: "kill.j2"
    dest: "{{ omarchy_repo }}/projects/{{ project_name }}/kill"
    mode: '0755'

- name: Convert project name to kebab-case for workspace file
  ansible.builtin.set_fact:
    workspace_filename: "{{ project_name | lower | regex_replace('[^a-z0-9]', '-') | regex_replace('-+', '-') | regex_replace('^-|-$', '') }}"

- name: Generate workspace file for vscode/positron
  ansible.builtin.template:
    src: "workspace.code-workspace.j2"
    dest: "{{ omarchy_repo }}/projects/{{ project_name }}/{{ workspace_filename }}.code-workspace"
    mode: '0644'
  when: project_editor | default('vscode') in ['vscode', 'positron'] and project_path | length > 0

- name: Add project aliases to .aliases (with project dir)
  ansible.builtin.blockinfile:
    path: "{{ omarchy_repo }}/home/.aliases"
    marker: "# {mark} PROJECT {{ project_name }}"
    insertbefore: "# Auto-generated project aliases"
    block: |
      alias p{{ project_alias }}="~/Omarchy/projects/{{ project_name }}/launch"
      alias pk{{ project_alias }}="~/Omarchy/projects/{{ project_name }}/kill"
      alias tm{{ project_alias }}="~/Omarchy/projects/{{ project_name }}/tmux.sh"
      alias pm{{ project_alias }}="cd ~/Omarchy/projects/{{ project_name }}"
      alias {{ project_alias }}="cd {{ project_path }}"
  when: project_path | length > 0

- name: Add project aliases to .aliases (no project dir)
  ansible.builtin.blockinfile:
    path: "{{ omarchy_repo }}/home/.aliases"
    marker: "# {mark} PROJECT {{ project_name }}"
    insertbefore: "# Auto-generated project aliases"
    block: |
      alias p{{ project_alias }}="~/Omarchy/projects/{{ project_name }}/launch"
      alias pk{{ project_alias }}="~/Omarchy/projects/{{ project_name }}/kill"
      alias tm{{ project_alias }}="~/Omarchy/projects/{{ project_name }}/tmux.sh"
      alias pm{{ project_alias }}="cd ~/Omarchy/projects/{{ project_name }}"
  when: project_path | length == 0

- name: Sync aliases to home
  ansible.builtin.copy:
    src: "{{ omarchy_repo }}/home/.aliases"
    dest: "{{ ansible_facts.env.HOME }}/.aliases"
    mode: '0644'

- name: Show completion message
  ansible.builtin.debug:
    msg: |
      Project '{{ project_name }}' created!

      Aliases (reload shell to use):
        p{{ project_alias }}   - Launch project (VS Code, docker, etc.)
        pk{{ project_alias }}  - Kill project (stop docker, close windows)
        tm{{ project_alias }}  - Launch tmux session
        pm{{ project_alias }}  - cd to project management dir
        {{ project_alias }}    - cd to {{ project_path }}
