[Desktop Entry]
Name=Gmail
Comment=Gmail Email
GenericName=Email
Exec=omarchy-launch-webapp "https://mail.google.com"
Icon=/home/erik/.local/share/icons/gmail.webp
Type=Application
StartupNotify=false
Categories=Network;Email;
Keywords=gmail;google;email;mail;
