[Desktop Entry]
Name=Immich
Comment=Immich Photo Library
GenericName=Photos
Exec=omarchy-launch-or-focus-webapp "Immich" "https://immich.pequod.sh"
Icon=/home/erik/.local/share/icons/immich.webp
Type=Application
StartupNotify=false
Categories=Network;Photography;
Keywords=immich;photos;pictures;
