[Desktop Entry]
Name=Instagram
Comment=Instagram Social Network
GenericName=Social Media
Exec=omarchy-launch-or-focus-webapp "Instagram" "https://instagram.com"
Icon=/home/erik/.local/share/icons/instagram.webp
Type=Application
StartupNotify=false
Categories=Network;Social;
Keywords=instagram;social;photos;
