[Desktop Entry]
Name=Pi-hole
Comment=Pi-hole DNS Ad Blocker
GenericName=DNS Filter
Exec=omarchy-launch-or-focus-webapp "Pi-hole" "https://pihole.pequod.sh/admin/"
Icon=/home/erik/.local/share/icons/pihole.webp
Type=Application
StartupNotify=false
Categories=Network;System;
Keywords=pihole;dns;adblock;
