[Desktop Entry]
Name=Pi-hole
Comment=Pi-hole DNS Ad Blocker
GenericName=DNS Filter
Exec=/home/erik/.bin/pihole-launcher
Icon=/home/erik/.local/share/icons/pihole.webp
Type=Application
StartupNotify=false
Categories=Network;System;
Keywords=pihole;dns;adblock;
StartupWMClass=chromium-pihole
