[Desktop Entry]
Name=Positron
Comment=The next generation IDE for data science
GenericName=Text Editor
Exec=/usr/share/positron/positron %F
Icon=co.posit.positron
Type=Application
StartupNotify=false
StartupWMClass=Positron
Categories=TextEditor;Development;IDE;
MimeType=application/x-positron-workspace;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/usr/share/positron/positron --new-window %F
Icon=co.posit.positron
