[Desktop Entry]
Name=Proxmox: Nexus
Comment=Proxmox Nexus Server
GenericName=Virtualization
Exec=omarchy-launch-webapp "https://nexus.pequod.sh"
Icon=/home/erik/.local/share/icons/proxmox.webp
Type=Application
StartupNotify=false
Categories=Network;System;
Keywords=proxmox;vm;virtualization;nexus;
