[Desktop Entry]
Name=Proxmox: Hatchery
Comment=Proxmox Hatchery Server
GenericName=Virtualization
Exec=omarchy-launch-webapp "https://hatchery.pequod.sh"
Icon=/home/erik/.local/share/icons/proxmox.webp
Type=Application
StartupNotify=false
Categories=Network;System;
Keywords=proxmox;vm;virtualization;hatchery;
