[Desktop Entry]
Name=Reddit
Comment=Reddit Social Network
GenericName=Social Media
Exec=omarchy-launch-or-focus-webapp "Reddit" "https://reddit.com"
Icon=/home/erik/.local/share/icons/reddit.webp
Type=Application
StartupNotify=false
Categories=Network;Social;
Keywords=reddit;social;news;
