[Desktop Entry]
Name=Syncthing (Master)
Comment=Syncthing Master Server
GenericName=File Sync
Exec=omarchy-launch-or-focus-webapp "Syncthing (Master)" "https://syncthing.pequod.sh/"
Icon=/home/erik/.local/share/icons/syncthing.webp
Type=Application
StartupNotify=false
Categories=Network;FileTransfer;
Keywords=syncthing;sync;files;
