[Desktop Entry]
Name=Syncthing (Local)
Comment=Syncthing Local Instance
GenericName=File Sync
Exec=omarchy-launch-webapp "http://local.syncthing.lan/"
Icon=/home/erik/.local/share/icons/syncthing.webp
Type=Application
StartupNotify=false
Categories=Network;FileTransfer;
Keywords=syncthing;sync;files;
