[Desktop Entry]
Version=1.0
Name=Zoom
Comment=Zoom Video Conferencing
Exec=omarchy-launch-or-focus-webapp "Zoom" "https://app.zoom.us/wc"
Terminal=false
Type=Application
Icon=/home/erik/.local/share/icons/Zoom.png
StartupNotify=true
Categories=Network;VideoConference;
