---
# NAS auto-mount via autofs

- name: Install autofs and cifs-utils
  kewlfft.aur.aur:
    name:
      - autofs
      - cifs-utils
    use: yay
    state: present

- name: Create credentials file
  become: true
  ansible.builtin.copy:
    dest: /etc/nas-creds
    mode: '0600'
    content: |
      username={{ nas_erik_username }}
      password={{ nas_erik_password }}

- name: Create NAS mount point
  become: true
  ansible.builtin.file:
    path: /mnt/nas
    state: directory
    owner: erik
    group: erik
    mode: '0755'

- name: Ensure autofs maps directory exists
  become: true
  ansible.builtin.file:
    path: /etc/autofs/auto.master.d
    state: directory
    mode: '0755'

- name: Configure autofs master for NAS
  become: true
  ansible.builtin.copy:
    dest: /etc/autofs/auto.master.d/nas.autofs
    mode: '0644'
    content: |
      /mnt/nas /etc/autofs/auto.nas --timeout=300 --browse
  notify: Restart autofs

- name: Configure NAS auto-mount map
  become: true
  ansible.builtin.copy:
    dest: /etc/autofs/auto.nas
    mode: '0644'
    content: |
      # Explicit mounts: local_name  options  //server/share
      UnifiDrive  -fstype=cifs,credentials=/etc/nas-creds,uid=erik,gid=erik,iocharset=utf8  ://192.168.1.10/Personal-Drive
      Media  -fstype=cifs,credentials=/etc/nas-creds,uid=erik,gid=erik,iocharset=utf8  ://192.168.1.10/Media
      iCloudBackupErik  -fstype=cifs,credentials=/etc/nas-creds,uid=erik,gid=erik,iocharset=utf8  ://192.168.1.10/iCloudBackupErik
      Photos  -fstype=cifs,credentials=/etc/nas-creds,uid=erik,gid=erik,iocharset=utf8  ://192.168.1.10/Photos
      ISOs  -fstype=cifs,credentials=/etc/nas-creds,uid=erik,gid=erik,iocharset=utf8  ://192.168.1.10/ISOs
  notify: Restart autofs

- name: Enable and start autofs
  become: true
  ansible.builtin.systemd:
    name: autofs
    enabled: true
    state: started
    daemon_reload: true

- name: Ensure ~/.local/share directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.local/share"
    state: directory
    mode: '0755'

- name: Configure file manager bookmarks with NAS shortcuts
  ansible.builtin.template:
    src: user-places.xbel.j2
    dest: "{{ ansible_facts.env.HOME }}/.local/share/user-places.xbel"
    mode: '0644'

